/soma/somaV1/target/
/areaCirculo/areaCirculo/target/
/somaV2/somaV2/target/
/5-Estrutura-e-Classificação-de-Dados/trabalhos/
/ProgramaçãoOrientadaAObjetos/exercícios/classesDeAnimais/target/
/ProgramacaoOrientadaAObjetos/exercicios/classesDeAnimais/target/
/.vscode/
/EstruturaEClassificacaoDeDados/exercicios/exemplo1/target/
*.rar